// colors
$brand-color: #8A0707;
$very-dark-grey: #222222;
$dark-grey: #777777;
$light-grey: #cccccc;
$very-light-grey: #e8e8e8;

// spacing
$space: 1rem;
$max-width: 77rem;

// fonts
$base-font-size: 1.4rem;
$font_color: #555;

// header
$header-bg: $brand-color;
$header-color: white;

// button
$button-bg: $brand-color;
$button-color: #ffffff;
$button-icon-border-color: $brand-color;
$button-icon-bg: #ffffff;
$button-icon-color: $brand-color;
